@charset "utf-8";

/* common */

body {
  margin: 0;
}

img {
  vertical-align: bottom;
}

h2{
  margin: 0;
  font-weight: normal;
  text-align: center;
}

h3{
  margin: 0;
  font-weight: normal;
  margin-top: 16px;
}

p{
  margin: 0;
}

/* header */

header {
  background: white;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 32px;
  max-width: 776px;
  margin: 0 auto;
}

h1{
  margin: 0;
  font-size: 0;
}

h1 > img {
  width: 116px;
  height: 32px;
}

.pc-logo {
  display: none;
}

.btn {
  background: #329e00;
  border-radius: 8%;
  color: white;
  display: inline-block;
  height: 24px;
  text-decoration: none;
  padding: 8px 16px;
}

/* top */

.top {
  background: url(bg.png) center bottom repeat-x #99e6ff;
  padding-top: 64px;
}

.top-container {
  max-width: 772px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top img {
  width: 300px;
  height: 312px;
  margin-top: 64px;
}

.top .btn {
  margin-top: 64px;
}

/* features */

.features {
  padding: 64px 32px;
}

.feature {
  margin-top: 64px;
}

.feature > p {
  margin-top: 16px;
}

.features-img {
  text-align: center;
}

.features-img img {
  width: 300px;
  height: 200px;
}

/* footer */

footer {
  background: #3c3c3c;
  color: white;
  padding: 64px 0;
  text-align: center;
}

small {
  font-size: 14px;
}

/* large screen */

@media (min-width: 600px){
  body{
    background: pink;
  }
  .sp-logo {
    display: none;
  }
  .pc-logo {
    display: inline-block;
  }
  h1 > img {
    width: 284px;
    height: 32px;
  }

  /* top */

  .top-container {
    flex-direction: row;
    justify-content: space-between;
  }

  .top-container div {
    flex: 1;
  }

  .top img {
    margin-top: 0;
  }

}
